################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/APICsharp/APIFilR/bin

APICsharp/APIFilR/obj/

APICsharp/.vs/

APICsharp/APIFilR/Images/

APICsharp/APIFilR/APIFilR.csproj.user

APICsharp/APIFilR.UnitTests/bin/Debug/

APICsharp/APIFilR.UnitTests/bin/Release/

APICsharp/APIFilR.UnitTests/obj/Debug/

APICsharp/APIFilR.UnitTests/obj/Release/
