################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/APICsharp/APIFilR/bin/Debug/netcoreapp3.1
